<div class="form-group">
	<label>Image Hover — 아트 숨기기</label>
	<input type="checkbox" name="flags.female_edition.ihHideArt" {{hideHoverStatus}}>
</div>
<div class="form-group">
	<label>Image Hover — 커스텀 아트 경로</label>
	<div class="form-fields">
		<input class="fe-ih-specific-art" type="text" name="flags.female_edition.ihSpecificArt" value="{{specificArtStatus}}">
		<button type="button" class="fe-ih-picker-button" data-type="imagevideo">
			<i class="fas fa-file-import fa-fw"></i>
		</button>
	</div>
</div>
